body {
	background: url("../images/body-bg.jpg") repeat-x left top rgb(255, 255, 255); margin: 0px; padding: 0px; text-align: center; color: rgb(102, 102, 102); font-family: arial; font-size: 12px;
}
p {
	margin: 0px; text-align: center; color: rgb(102, 102, 102); padding-top: 10px; font-family: arial; font-size: 12px;
}
.loginbg {
	background: url("../images/login-bg.png") no-repeat top; margin: 50px auto 0px; padding: 50px 31px 24px 21px; width: 553px; min-height: 415px;
.processbg {
	background: url("../images/process-bg.png") no-repeat top; margin: 50px auto 0px; padding: 50px 31px 24px 21px; width: 553px; min-height: 415px;}

}
.top {
	height: 80px; text-align: right; color: rgb(0, 0, 0); padding-right: 10px; clear: both; font-size: 17px;
}
.mid {
	color: black; font-size: 17px;
}
.mid1 {
	color: black; font-size: 17px;
}
.mid .form {
	margin: 0px auto; width: 330px; text-align: left; color: black; overflow: hidden; padding-top: 18px;
}
.mid label {
	width: 112px; text-align: right; line-height: 44px; padding-right: 10px; float: left;
}
.mid input[type=text] {
	padding: 15px 9px 9px 7px; border: 2px currentColor: black; width: 185px; height: 15px; color: rgb(51, 51, 51); line-height: 20px;
}
.mid input[type=button] {
	background: url("../images/paynow-btn.png") no-repeat left 5px; border: 0px currentColor; width: 105px; height: 45px; color: rgb(51, 51, 51); padding-right: 40px; font-size: 13px; font-weight: bold; margin-top: -2px; cursor: pointer;
}
.button {
	background: url("../images/paynow-btn.png") no-repeat left 5px; border: 0px currentColor; width: 100px; height: 45px; color: rgb(255, 255, 255); font-size: 13px; font-weight: bold; margin-top: 7px; margin-left: 120px; cursor: pointer;
}
.cards {
	background: url("../images/2cocc05.gif") no-repeat center; padding: 0px; height: 46px; margin-top: 13px;
}
.sep {
	padding: 1px; clear: both;
}
